*{margin: 0px; padding: 0px;}

body {
    margin:0;
    padding:0;
    border:0;           
    width:100%;
    background:#e0e3e6;  
    min-width:600px; 
                     
    font-size:90%;
    font-family: Arial,FreeSans,Helvetica,sans-serif;
}
 

.encabezado {
    clear:both;
    float:left;
    width:99%;   
    padding: 5px;
    background-color: lawngreen;
}
.envoltura {
    position:relative; 
    clear:both;
    float:left;
    width:100%;        
    overflow:hidden;        
}

.columnas {
    float:left;
    width:100%;
    position:relative;
}
.col1,
.col2
{
    float: left;
    position: relative;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.envoltura .columnas {
    right:85%;          
    margin-top: 20px;
}
.envoltura .col1 {
    width:83%;          
    left:100%;          
    background:#26971c;
    padding: 5px;
    min-height: 300px;
}
.envoltura .col2 {
    width:13%;          
    left:2%;            
    background:#abd991;
}

.pie {
    
    float:left;
    width:99%;
    padding: 5px;
    background-color: darkgreen;
    color: black;
}
